<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)" ></app-painel>
</div>
<ng-template #fimDeJogo>
    <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col">
                <img src="../../assets/gato-triste.png" width="200px">
                <p></p>
                <h3 style="color:#ffffff; font-family: 'Comfortaa', cursive">Fim de jogo. Infelizmente, você perdeu!</h3>
                <p></p>
                <button class="btn btn-info btn-lg" style="background-color: #6C3D73; border: 0px; font-family: 'Comfortaa', cursive;" (click)="reiniciarJogo()">Jogar novamente</button>
            </div>
        </div>
    </div>   
</ng-template>
<ng-template #fimDeJogoVitoria>
    <div class="container" style="margin-top: 50px" >
        <div class="row">
            <div class="col">
                <img src="../../assets/gato-feliz.png" width="200px">
                <p></p>
                <h3 style="color:#ffffff; font-family: 'Comfortaa', cursive">Fim de jogo. Parabéns, você ganhou!</h3>
                <p></p>
                <button class="btn btn-info btn-lg" style="background-color: #6C3D73; border: 0px; font-family: 'Comfortaa', cursive;" (click)="reiniciarJogo()">Jogar novamente</button>
            </div>
         </div>
    </div>     
</ng-template>
