<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="animated bounceInLeft delay-1s" style="color: #6c3D73; font-family: 'Comfortaa', cursive">
                    Aprendendo Inglês</h2>
                <h5 class="animated bounceInRight delay-2s" style="color: #6c3D73; font-family: 'Comfortaa', cursive;">
                    {{ instrucao }}</h5> 
            </div>
              <div class="col-sm-6">
                <div class="d-flex justify-content-end">
                    <app-tentativas [tentativas]="tentativas"></app-tentativas>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col">
                <h3 class="animated fadeIn delay-4s" style="color: #f9325c; font-family: 'Baloo Bhai', cursive;">
                    {{ rodadaFrase.fraseEng }}</h3> 
                <p></p>
                <div class="form-group">
                    <label for="traducao" style="width: 100%;">
                        <input #box    
                            type="textarea"
                            id="traducao"
                            name="traducao"
                            class="form-control"
                            rows="1"
                            [value]="resposta"
                            (input)="atualizaResposta($event)"
                            (keyup.enter)="verificarResposta($event)"
                            placeholder="Digite a frase em português...">
                    </label>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <app-progresso [progresso]="progresso"></app-progresso>
                    </div>
                 </div> 
                 <p></p>  
         <div class="row">
            <div class="col">
                <div class="d-flex justify-content-end">
                    <button type="button" id="verificar" style="background-color: #6C3D73; border: 0px; font-family: 'Comfortaa', cursive;" 
                    class="btn btn-info btn-lg" (click)="verificarResposta()">Verificar</button>
                </div>  
            </div>
        </div>
    </div>
</div>

