<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">
      <h5 style="color: #f9325c">
        APP1 # Aplicação web de tradução de frases
      </h5>
        <p><span class="text-muted">
            Minha primeira aplicação Angular! <br/>Trata-se de um jogo, onde cada frase traduzida 
            corretamente, a barra de progresso avança e quando a barra de progresso é completada o jogador vence!<br/>
            Caso a tradução esteja incorreta, perde-se uma tentativa e, caso erre pela terceira vez, o jogador perde!
          </span></p>
          <ul>
            <li>Como iniciar projetos Angular via Angular-CLI;</li>
            <li>Como a SPA é iniciada no browser;</li>
            <li>Como criar componentes;</li>
            <li>Como integrar o Bootstrap ao projeto (para criar aplicações responsivas);</li>
            <li>Databinding (string interpolation, property binding e event binding);</li>
            <li>LifeCicly Hooks (ngOnInit, ngOnChanges, ngOnDestroy);</li>
            <li>Diretivas (ngFor e ngIf);</li>
            <li>@Input e @Output e;</li>
            <li><a href="https://app1-ludmyla-soares.s3-website.us-east-2.amazonaws.com">Deploy na nuvem da AWS.</a></li>      
          </ul>
        </div>
       </div> 
      </div> 
    <nav 
      class="navbar navbar-light bg-light custom">
      <table style="width: 250px;">
        <tbody>
          <tr>
            <td class="animated flip delay-1s"
                style="width: 55px;">
              <a title="Ludmyla Soares" 
                 href="https://ludmylasoares.site" 
                 target="_blank" 
                 rel="noopener">
                  <img style="float: left;" 
                       src="assets/marca.png" 
                       alt="Ludmyla Soares" 
                       width="30"/>
              </a>
            </td>
            <td class="animated jackInTheBox delay-2s"
                style="float: center;
                       font-family: 'Great Vibes', cursive;
                       font-size: 32px;
                       color: #585570;">
                      {{ titulo }}
            </td>
          </tr>
        </tbody>
        </table>          
          <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarToggleExternalContent" 
            aria-controls="navbarToggleExternalContent" 
            aria-expanded="false" 
            aria-label="Alterna navegação">
            <span
              class="navbar-toggler-icon">
            </span>
          </button>
    </nav>
