<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">
        <h4 style="color: #f9325c">
          #APP1 - Aplicação web de tradução de frases!
        </h4>
        <a style="color:#c98baa;" href="https://www.udemy.com/course/curso-de-desenvolvimento-web-com-es6-typescript-e-angular-4/">
          Curso de Desenvolvimento WEB com ES6, TypeScript e Angular</a>
        <p>
          <span class="text-muted">
              <div style="color: #1c2331;"><i>Trata-se de um jogo, onde cada frase traduzida corretamente: 
                o progresso da barra avança! Quando a barra de progresso é totalmente preenchida o jogador vence!
                Caso a tradução esteja incorreta: perde-se uma tentativa/gatinho! Caso erre pela terceira vez 
                o jogador perde!</i><br/>
              </div>
           </span>
        </p>
            Processos de desenvolvimento abordados:
          <ul>
            <li>Como iniciar projetos Angular via Angular-CLI;</li>
            <li>Como a SPA é iniciada no browser;</li>
            <li>Como criar componentes;</li>
            <li>Como integrar o Bootstrap ao projeto (para criar aplicações responsivas);</li>
            <li>Databinding (string interpolation, property binding e event binding);</li>
            <li>LifeCicly Hooks (ngOnInit, ngOnChanges, ngOnDestroy);</li>
            <li>Diretivas (ngFor e ngIf);</li>
            <li>@Input e @Output e;</li>
            <li><a href="https://app1-ludmyla-soares.s3-website.us-east-2.amazonaws.com">Deploy na nuvem da AWS.</a></li>      
          </ul>
        </div>
       </div> 
      </div> 
    <nav class="navbar navbar-light bg-light custom">
      <table style="width: 250px;">
        <tbody>
          <tr>
            <td>
              <a title="Ludmyla Soares" href="https://ludmylasoares.site" target="_blank" 
                  rel="noopener">
                  <img class="animated jackInTheBox delay-2s" style="float: right; padding-bottom:7px;" 
                    src="assets/logo-lud-transp-peq.png" 
                    alt="Ludmyla Soares"
                    width="30">
              </a>    
            </td>          
             <td class="animated jackInTheBox delay-2s"
                  style="float: center;
                  text-transform: uppercase;
                  font-family: 'Montserrat', 'Helvetica Neue',  Arial, sans-serif;
                  font-size: 12px;
                  padding-top:3px;">
                    {{ titulo }}
              </td>
          </tr>
        </tbody>
        </table>          
          <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarToggleExternalContent" 
            aria-controls="navbarToggleExternalContent" 
            aria-expanded="false" 
            aria-label="Alterna navegação">
            <span
              class="navbar-toggler-icon">
            </span>
          </button>
    </nav>
