<div class="pos-f-t" style="font-family: 'MuseoModerno', cursive;">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">
      <h4>
        <a href="https://app1.ludmylasoares.site" title="Ludmyla Soares" target="_blank">
          #APP1 - Aplicação web de tradução de frases!</a></h4>
          <a href="https://www.udemy.com/course/curso-de-desenvolvimento-web-com-es6-typescript-e-angular-4/" title="Ludmyla Soares" target="_blank">
            Curso de Desenvolvimento WEB com ES6, TypeScript e Angular</a>
              <span class="text-muted">
                <div style="color: #84888a;"><i>
                  <br/>Trata-se de um jogo, onde cada frase traduzida corretamente: 
                  o progresso da barra avança! Quando a barra de progresso é totalmente preenchida o jogador vence!
                  Caso a tradução esteja incorreta: perde-se uma tentativa/gatinho! Caso erre pela terceira vez 
                  o jogador perde!</i><br/>
                </div>
                <br/>
              </span>
            Processos de desenvolvimento abordados:
        <ul>
          <li>Como iniciar projetos Angular via Angular-CLI;</li>
          <li>Como a SPA é iniciada no browser;</li>
          <li>Como criar componentes;</li>
          <li>Como integrar o Bootstrap ao projeto (para criar aplicações responsivas);</li>
          <li>Databinding (string interpolation, property binding e event binding);</li>
          <li>LifeCicly Hooks (ngOnInit, ngOnChanges, ngOnDestroy);</li>
          <li>Diretivas (ngFor e ngIf);</li>
          <li>@Input e @Output e;</li>
          <li>Deploy na nuvem da AWS.</li>      
        </ul>
    </div>
  </div> 
</div> 
  <nav class="navbar navbar-light bg-light custom">
    <div>
      <a href="https://www.ludmylasoares.site" target="_blank" rel="noopener" data-toggle="tooltip" target="_blank"
          title="Olá, visite meu site!" data-placement="bottom">
        <img class="animated jackInTheBox delay-2s" style="float: left; padding-bottom:3px;" 
             src="/assets/logo-lud-transp-peq.png" alt="Ludmyla Soares" width="30">
      </a>
        <label class="animated jackInTheBox delay-2s" style="float: center; padding-top:8px; text-transform: uppercase;
                 font-family: 'Montserrat', 'Helvetica Neue',  Arial, sans-serif; font-size: 12px;">
          <a href="https://www.ludmylasoares.site" target="_blank" rel="noopener" data-toggle="tooltip" style="color:#1c2331;" 
            title="Olá, visite meu site!" data-placement="bottom">
              {{ titulo }}
          </a>
        </label>            
    </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" 
        aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
  </nav>
